<h2>DataGrid 6</h2>

<dx-data-grid
  id="dataGrid"
  [dataSource]="employees"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [focusedColumnIndex]="0"
  (onExporting)="exportGrid($event)"
  (onCellPrepared)="onCellPrepared($event)"
  keyExpr="EmployeeID">
>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[3, 4, 5, 8]"
  ></dxo-pager>
  <dxi-column
    dataField="FullName"
    caption="Name"
    headerCellTemplate="nameHeaderTemplate">
  </dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxi-column
    dataField="Country"
    sortOrder="asc"
    [customizeText]="countryColumn_customizeText"
  >
  </dxi-column>
  <dxi-column dataField="Address"></dxi-column>
  <dxi-column
    dataField="Photo"
    [fixed]="true"
  >
  </dxi-column>

  <div *dxTemplate="let info of 'nameHeaderTemplate'">
    <p style="font-size:16px; color: red; font-weight: bold;">
      {{info.column.caption}}
    </p>
  </div>

  <dxo-export
    [enabled]="true"
    [formats]="['xlsx', 'pdf']"
  >
  </dxo-export>
</dx-data-grid>



