<h2>DataGrid 6</h2>

<dx-data-grid
  id="dataGrid"
  [dataSource]="employees"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  [allowColumnReordering]="true"
  (onExporting)="exportGrid($event)">
  keyExpr="EmployeeID"
>
  <dxi-column dataField="FullName">
  </dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxi-column
    dataField="Country"
    sortOrder="asc"
  >
  </dxi-column>
  <dxi-column dataField="Address"></dxi-column>
  <dxi-column
    dataField="Photo"
    [fixed]="true"
  >
  </dxi-column>

  <dxo-export
    [enabled]="true"
    [formats]="['xlsx', 'pdf']"
  >
  </dxo-export>
</dx-data-grid>



